APP_NAME='MN Tecidos'
APP_ENV=local
APP_KEY=base64:S1S69sSxF/5mHXDT6ohdchb80iGD/kGN3yY3AyOElAQ=
APP_DEBUG=false
APP_URL=http://portal.tecidosmn.com.br/

LOG_CHANNEL=stack

DB_CONNECTION=pgsql
DB_DATABASE=postgres
DB_PORT=5432
DB_HOST=portal-db
DB_USERNAME=postgres
DB_PASSWORD=postgres

DB_CEP_CONNECTION=pgsql
DB_CEP_HOST=bdprod.mntecidos.local
DB_CEP_PORT=5432
DB_CEP_DATABASE=cep
DB_CEP_USERNAME=userportal_local
DB_CEP_PASSWORD=@mntecidos2018

DB_NASAJON_HOST=bdteste.mntecidos.local
DB_NASAJON_PORT=5432
DB_NASAJON_DATABASE=tecidos_mn
DB_NASAJON_USERNAME=userportal_local
DB_NASAJON_PASSWORD=@mntecidos2018

DB_HOST_srv_prologos=bdprodsql.mntecidos.local
DB_PORT_srv_prologos=1433
DB_DATABASE_srv_prologos=DB_10036_00
DB_USERNAME_srv_prologos=userportal
DB_PASSWORD_srv_prologos=@mntecidos2018

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.tecidosmn.com.br
MAIL_PORT=587
MAIL_USERNAME=portal@tecidosmn.com.br
MAIL_PASSWORD=Textilmn2013
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

ADLDAP_AUTO_CONNECT=true
ADLDAP_ACCOUNT_PREFIX=''
ADLDAP_ACCOUNT_SUFFIX=''
ADLDAP_CONTROLLERS='mntecidos.local'
ADLDAP_PORT=389
ADLDAP_TIMEOUT=5
ADLDAP_BASEDN='DC=mntecidos,DC=local'
ADLDAP_ADMIN_ACCOUNT_PREFIX=''
ADLDAP_ADMIN_ACCOUNT_SUFFIX=''
ADLDAP_ADMIN_USERNAME='servicos@mntecidos.local'
ADLDAP_ADMIN_PASSWORD='@ldapautentica'
ADLDAP_USE_SSL=false
ADLDAP_USE_TLS=true
ADLDAP_CONNECTION='default'
ADLDAP_PASSWORD_SYNC=true
ADLDAP_LOGIN_FALLBACK=false
ADLDAP_USER_DISCOVER='samaccountname'

EMAIL_SEND_DEBUG='victor.nogueira@tecidosmn.com.br'